<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style.css">
    <title>Rate Mahallah Cafe Service</title>
</head>
<body>
    <div class="container">
        <img src="../static/iium-logo.png" alt="IIUM" class="logo">
        {% if message %}
        <p class="message">{{ message | safe}}</p>
        {% endif %}
        <form action="/submit" method="POST">
        <div class="form-group">
            <h3>Student Name</h3>
            <input 
                type="text" 
                name="student"
                placeholder="Name of the student"
            />
        </div>
        <div class="form-group">
            <h3>Matric Number</h3>
            <input 
                type="number"
                name="matric_number"
                placeholder="Matric number of the student"
            />
        </div>
        <div class="form-group">
            <h3>Mahallah</h3>
            <select name="mahallah">
                <option value="">Select Mahallah</option>
                <option value="Faruq">Faruq</option>
                <option value="Usman">Usman</option>
                <option value="Ali">Ali</option>
                <option value="Bilal">Bilal</option>
                <option value="Zubair">Zubair</option>
            </select>
        </div>
        <div class="form-group">
            <h3>Please rate the Mahallah Cafe</h3>
            <input type="radio" name="rating" value="1"/> 1
            <input type="radio" name="rating" value="1"/> 2
            <input type="radio" name="rating" value="1"/> 3
            <input type="radio" name="rating" value="1"/> 4
            <input type="radio" name="rating" value="1" checked/> 5
        </div>
        <div class="form-group">
            <h3>Comments about cafe experience</h3>
            <textarea 
                name="comments" 
                id="" 
                cols="30" 
                rows="10"
                placeholder="Tell us what you liked and/ or did not like."
            ></textarea>
        </div>
    </div>
    <input type="submit" value="Submit" class="btn" />
    </form>
</body>
</html>